// Bootstrap reset
h1, h2, h3, h4, h5 {
    margin: 0;
}

$baseline: 4px;
$black: #333333;

body {
    color: $black;
    font-family: "abril-text";
    font-size: 4 * $baseline;
    line-height: 1.5;
}

footer, h1, h2, h3 {
    text-align: center;
}

footer, .page-description {
    padding-top: 12 * $baseline;
    padding-bottom: 12 * $baseline;
}

h1, h2, h3 {
    font-family: "brandon-grotesque";
}

h1 {
    font-size: 8 * $baseline;
    margin-top: 4 * $baseline;
    margin-bottom: 4 * $baseline;
}

h2 {
    font-size: 6 * $baseline;
    margin-top: 2 * $baseline;
    margin-bottom: 2 * $baseline;
}

h3 {
    font-size: 5 * $baseline;
    margin-top: $baseline;
    margin-bottom: $baseline;
}

p {
    margin-top: 6 * $baseline;
    margin-bottom: 6 * $baseline;
}

.row-grid {
    padding-top: 4 * $baseline;
    padding-bottom: 4 * $baseline;
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        line-height: 6 * $baseline;

        a {
            color: $black;
            display: block;
            padding-top: 6 * $baseline;
            padding-right: 8 * $baseline;
            text-decoration: none;
        }
    }
}

#logo {
    font-family: "brandon-grotesque";
    font-size: 6 * $baseline;
}

.row-grid#home {
    padding-top: 20 * $baseline;
}

figcaption {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}
