$baseline: 4px;

body {
    font-size: 4 * $baseline;
    line-height: 1.5;
}

h1 {
    font-size: 8 * $baseline;
}

h2 {
    font-size: 6 * $baseline;
}

h3 {
    font-size: 5 * $baseline;
}

p {

}
