<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{% url 'women' %}">Website Title</a>
        <a href="{% url 'hcde' %}">HCDE</a>
        <a href="cse">CSE</a>
        <a href="info">INFO</a>
        <a href="about">About</a>
    </nav>
    <h1>{% block page_name %}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
    <footer>
    Made with <strong>love</strong> in Seattle. Powered by Joshua's knowledge
    of Git.
</footer>
</body>

</html>
