<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="#">Website Title</a>
        <a href="#">HCDE</a>
        <a href="women">CSE</a>
        <a href="#">INFO</a>
        <a href="#">About</a>
    </nav>
    <h1>General stuff</h1>
    {% block content %}
    {% endblock %}
    <footer>
    Made with <strong>love</strong> in Seattle. Powered by Joshua's knowledge
    of Git.
</footer>
</body>

</html>
