{% extends "base.html" %}

{% block title %}{% endblock %}

{% block page_name %}{{ page_name }}{% endblock %}

{% block content %}
    {% block major_description %}
    Praesent rhoncus interdum magna at dictum. Proin tristique condimentum
    nibh nec tristique. Phasellus eu mauris ultricies purus pretium consequat
    sit amet eget risus. Aenean consequat rutrum enim quis malesuada.
    Ut consequat massa leo, id commodo leo auctor finibus. Cras ac rhoncus mi,
    eu scelerisque tortor. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Sed eu orci nisl. Maecenas augue
    lectus, luctus eu lacus eget, posuere euismod orci. Donec accumsan odio
    eget ex maximus, ac sodales purus tempor. Ut pulvinar quam malesuada neque
    vulputate, eget aliquam urna scelerisque. Morbi gravida urna suscipit tellus
    imperdiet, sit amet ullamcorper est molestie.
    {% endblock %}
{% endblock %}
