{% extends "base.html" %}
{% load static %}

{% block content %}
    {% block grid %}
    <div class="container">
        <div class="row row-grid">
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
            <div class="col-xs-3">
                <img src="{% static 'dubhacksApp/images/portrait.png' %}" class="img-responsive" alt="portrait">
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
